
@function rgb-format($color) {
    @return unquote("rgb(#{red($color)}, #{green($color)}, #{blue($color)})");
}

@mixin add-triangle-top($color, $height: 10vw) {
    content: '';
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cpolygon fill='#{rgb-format($color)}' points='0,0 100,0 0,100'/%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: $height;
    width: 100%;
    position: absolute;
    top: 0;
}

@mixin format-section($color1, $color2) {
    position: relative;
    background-image: linear-gradient($color1, $color2);
}




section {
    position: relative;
    padding: 0;



    &#about {
        background-color: $blue_light;
        // background-image: linear-gradient(135deg, $blue_light, $blue_sapphire);
        min-height: 90vh;
    }
   
    &#skills {
        background-color: $blue_sapphire;
        background-image: linear-gradient(135deg, $blue_liberty, $blue_sapphire);
        // padding: 0;
    }

    &#portfolio {
        background-color: $grey_light;
        padding-top: 100px;

        @include media-max("phone-down") {
            padding-top: 50px;
        }
    }

    &#portfolio::after {
        @include add-triangle-top($blue_sapphire);
    }

    &#contact {
        padding: 100px 0px 50px 0px;
        // background-color: $blue_light;
        background-image: linear-gradient(135deg, $blue_liberty, $blue_sapphire);

        @include media-max("phone-down") {
            padding-top: 30px;
        }
    }

    @include media-min("phone-down") {
        &#contact::after {
            @include add-triangle-top($grey_light);
        }
    }

}

/* Big Triangle */
svg#bigTriangleColor {
	pointer-events: none;
}

#bigTriangleColor path {
	// fill: darken($color1, 7%);
	// stroke: darken($color1, 7%);
    fill: $blue_light;
	stroke:$blue_light;
	stroke-width: 2;
}



.center-div {
    text-align: center;
}

.heading {
    position: relative;
    margin: 50px 0 50px 0;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $blue_liberty, $orange_pumpkin);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 3px;
    // transition: all .2s;

    @include media-max("phone-down") {
        font-size: 3rem;
        margin: 20px 0 20px 0;
    }


    &::after {

        @include media-min("phone-down") {
            content: '';
            position: absolute;
            bottom: -1.5rem;
            left: 50%;
            width: 20%;
            height: .5rem;
            // background-image: linear-gradient(to right, $blue_liberty, $orange_pumpkin);
            transform: translateX(-50%);
            // border-radius: 5px;
            border-bottom: dotted 10px $orange_atomic;
        }




    }

    &.skills {
        background-image: linear-gradient(to right, $blue_light, $orange_pumpkin);
    }
}