

.footer {
    position: relative;
    color: white;
    // background-color:$blue_liberty;
    background-image: linear-gradient(to right, $violet_persian, $blue_liberty);
    padding: 20px;
}


.footer--center-ctn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;



}

.footer--button-up {

    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 40px;
    font-weight: bold;
    padding: 5px 5px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;


    border: none;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

}


.footer--name {
    text-transform: uppercase;

}
.footer--links {
    

    a {

        color: white;

        &.underline {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                display: block;
                right: 0;
                bottom: 0;
                left: 0;
                height: 1px;
                background: #fff;
                transform: scaleX(0);
                transform-origin: 0 0;
                transition: transform .3s cubic-bezier(.75,0,.58,1);
                will-change: transform;
            }
        
            &:hover:after {
                transform: scaleX(1);
            }
        }
    }


}


