


.skills-cards-ctn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px;

    @include media-max("phone-down") {
        padding: 10px;
        gap: 10px;
    }


    // background-image: linear-gradient(to right bottom, rgba(142, 57, 153, 0.75), rgba(30, 115, 172, 0.75)), url(../images/overgrown.jpg);
    // background-size: cover;

    // transform: skewY(-5deg);

}

.skill-card {

    // flex: 0 0 24%;
    // flex: 0 1 calc(25% - 1em);
    flex-grow: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    height: 350px;
    max-width: 220px;
    padding: 1rem;

    border-radius: 10px;
    // background-color: white;
    // opacity: .8;
    background-color: rgba(255, 255, 255, 0.8);


    // box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    // transform: skewY(5deg);

    @include media-max("phone-down") {
        gap: 10px;
        height: 280px;
        max-width: 220px;
        padding: .5rem;
    }
}


.card-img {
    font-family: "linea-basic-10";
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
}

.gradient-text {
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;

    background-image: linear-gradient(to right, #64495E, #4C5F9A);

    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.skill-title {
    text-transform: uppercase;
    color: #777;
    font-weight: 700;
    font-size: 1.5rem;
}

.skill-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    line-height: 1.5;
    color: #777;

    li {
        // width: 100%;
        font-size: 14px;
        border-bottom: 1px solid rgb(194, 194, 194);
        padding: 0.5rem;
        // background-color: aquamarine;
    }
}

.title-img {
    width: 90px;
    height: 90px;

    background-position: center;
    background-size: cover;

    &.img-front {
        background-image: url("../images/frontend.png");
    }

    &.img-back {
        background-image: url("../images/backend.png");
    }

    &.img-auto {
        background-image: url("../images/automation-min.png");
    }

    &.img-deploy {
        background-image: url("../images/deploy.png");
    }
    &.img-data {
        background-image: url("../images/data.png");
    }
    &.img-gui {
        background-image: url("../images/gui.png");
    }
}