# Thumbnails
._*

# dotenv environment variables file
.env
.env.test

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# dev docs
dev
build.sh
deploy.sh

# compiled css
css

# Temporary build
public
