


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    // font-family: "Raleway";
    // font-size: 10pt;
}

@media screen and (min-width: 600px) {
    body {
        font-size: 12pt;
    }
}

h1 {
    text-align: center;
    margin: 20px;
}

a {
    text-decoration: none;
    // pointer-events: none;
}

ul {
    /* pas de puce */
    list-style: none;
}