$black_light : #222;
$black_dark: #333;
$black_3: #0e1318;

$grey_light: #f5f5f5;
$grey_dim: #616161;
$grey_davys: #444649;
$grey_primary: #ccc;
$grey_secondary: #bbb;
$grey_hover: #555;


$white : #fff;
$white-transp : #FFFFFFDF;

$blue_light: #eaf2fa;
$blue_sapphire: #0B6A8E;
$blue_pacific: #31a7bb;
$blue_liberty: #4c5f9a;

$violet_persian: #330867;

$orange_pumpkin: #ff751f;
$orange_atomic: #ff9a5c;
$orange_apricot: #ffcdad;


$orange_portfolio: $orange_pumpkin;
