// Raleway
// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');


@font-face {
    font-family: "Raleway";
    src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
    font-family: "Raleway-semibold";
    src: url("../fonts/Raleway-SemiBold.ttf");
}
@font-face {
    font-family: "Raleway-bold";
    src: url("../fonts/Raleway-Bold.ttf");
}

// "Montserrat"
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);

@font-face {
    font-family: "linea-basic-10";
    src:url("../fonts/linea-basic-10.eot");
    src:url("../fonts/linea-basic-10.eot?#iefix") format("embedded-opentype"),
      url("../fonts/linea-basic-10.woff") format("woff"),
      url("fonts/linea-basic-10.ttf") format("truetype"),
      url("../fonts/linea-basic-10.svg#linea-basic-10") format("svg");
    font-weight: normal;
    font-style: normal;
  
}

// font-family: 'Lato', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

// font-family: 'Lora', serif;
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');